
*{
    margin: 0;
    padding: 0;
    font-family: 'arial';
}

#menu {
    background-color: rgb(48, 45, 45);
}
#menu ul {
    max-width: 1200px;
    list-style: none;
    padding: 0;
}
#menu ul li {
    display: inline;
}
#menu ul li a {
    margin-right: 0px;
    color: #fff;
    font-size: 17px;
    padding: 30px;
    position: relative;
    left: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background .2s;
}

.botao {
    padding: 20px 20px; 
    border: 2px; 
    color: rgb(209, 105, 105);
    background-color: transparent; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    text-decoration: none;
}

.botao:hover {
    
    background-color: black; 
    color: #fff; 
}
