
*{
    margin: 0;
    padding: 0;
    font-family: 'arial';
}

#menu {
    background-color: rgb(48, 45, 45);
}
#menu ul {
    max-width: 1200px;
    list-style: none;
    padding: 0;
}
#menu ul li {
    display: inline;
}
#menu ul li a {
    margin-right: 0px;
    color: #fff;
    font-size: 17px;
    padding: 30px;
    position: relative;
    left: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background .2s;
}

.botao {
    padding: 20px 20px; /* espaçamento interno do botão */
    border: 2px; /* borda azul */
    color: rgb(209, 105, 105);
    background-color: transparent; /* fundo transparente */
    font-size: 16px; /* tamanho da fonte */
    cursor: pointer; /* cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s, color 0.3s; /* transição suave da mudança de cor de fundo e texto */
    text-decoration: none;
}

.botao:hover {
    
    background-color: black; /* cor de fundo azul quando passar o mouse */
    color: #fff; /* cor do texto branco quando passar o mouse */
}
